include README.rst
include CHANGELOG.rst
include LICENSE.rst
include setup.cfg

recursive-include didadata *.py
recursive-include didadata/locale *
recursive-exclude didadata/tests *
recursive-exclude build/ *
recursive-exclude examples/ *
recursive-exclude examples/example *
